<%= form_tag(class_data_index_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search your major" %>
<%= submit_tag "Search", :name => nil %>
<% end %>

<div class="card-deck-wrapper">
  <% @class_data.each_with_index do |class_data, index| %>
    <% if index % @col_count == 0 %>
      <div class="card-deck">
    <% end %>
    <div class="card card-block card-outline-primary text-xs-center" onclick="location.href='<%= class_data_path(class_data) %>';">
      <h3 class="card-title"><%= class_data.course_id %></h3>
      <p class="card-text"><%= class_data.title %></p>
    </div>
    <% if index % @col_count == @col_count - 1 %>
      </div>
    <% end %>
  <% end %>
</div>

<style>

.card-block {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.card-block:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

</style>