<!DOCTYPE html>
<html>
  <head>
    <title>ClassSchedulizer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js' %>

  <%= csrf_meta_tags %>
  </head>

  <body>
  	<%= form_tag(class_data_index_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search your major" %>
    <%= submit_tag "Search", :name => nil %>
	  <% end %>

    <%= yield %>
  </body>
</html>
