<p id="notice"><%= notice %></p>

<h1>Independent Class Data</h1>

<table>
  <thead>
    <tr>
      <th>Class type</th>
      <th>Section</th>
      <th>Course</th>
      <th>Title</th>
      <th>Major</th>
      <th>Term</th>
      <th>Days</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Location</th>
      <th>Units</th>
      <th>Instructor</th>
      <th>Final examination date</th>
      <th>Final examination day</th>
      <th>Final examination time</th>
      <th>Grade type</th>
      <th>Level</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @independent_class_data.each do |independent_class_datum| %>
      <tr>
        <td><%= independent_class_datum.class_type %></td>
        <td><%= independent_class_datum.section %></td>
        <td><%= independent_class_datum.course_id %></td>
        <td><%= independent_class_datum.title %></td>
        <td><%= independent_class_datum.major %></td>
        <td><%= independent_class_datum.term %></td>
        <td><%= independent_class_datum.days %></td>
        <td>
          <% require 'time' %>
          <%= independent_class_datum.start_time.try(:strftime, "%l:%M%P") %>
        </td>
        <td>
          <%= independent_class_datum.end_time.try(:strftime, "%l:%M%P") %>
        </td>
        <td><%= independent_class_datum.location %></td>
        <td><%= independent_class_datum.units %></td>
        <td><%= independent_class_datum.instructor %></td>
        <td><%= independent_class_datum.final_examination_date %></td>
        <td><%= independent_class_datum.final_examination_day %></td>
        <td><%= independent_class_datum.final_examination_time %></td>
        <td><%= independent_class_datum.grade_type %></td>
        <td><%= independent_class_datum.level %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Independent Class Datum', new_independent_class_datum_path %>
