<p id="notice"><%= notice %></p>

<p>
  <strong>Lecture:</strong>
  <%= @independent_class_datum.lecture_id %>
</p>

<p>
  <strong>Class type:</strong>
  <%= @independent_class_datum.class_type %>
</p>

<p>
  <strong>Section:</strong>
  <%= @independent_class_datum.section %>
</p>

<p>
  <strong>Course:</strong>
  <%= @independent_class_datum.course_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @independent_class_datum.title %>
</p>

<p>
  <strong>Major:</strong>
  <%= @independent_class_datum.major %>
</p>

<p>
  <strong>Major code:</strong>
  <%= @independent_class_datum.major_code %>
</p>

<p>
  <strong>Term:</strong>
  <%= @independent_class_datum.term %>
</p>

<p>
  <strong>Description:</strong>
  <%= @independent_class_datum.description %>
</p>

<p>
  <strong>Days:</strong>
  <%= @independent_class_datum.days %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @independent_class_datum.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @independent_class_datum.end_time %>
</p>

<p>
  <strong>Location:</strong>
  <%= @independent_class_datum.location %>
</p>

<p>
  <strong>Units:</strong>
  <%= @independent_class_datum.units %>
</p>

<p>
  <strong>Instructor:</strong>
  <%= @independent_class_datum.instructor %>
</p>

<p>
  <strong>Final examination date:</strong>
  <%= @independent_class_datum.final_examination_date %>
</p>

<p>
  <strong>Final examination day:</strong>
  <%= @independent_class_datum.final_examination_day %>
</p>

<p>
  <strong>Final examination time:</strong>
  <%= @independent_class_datum.final_examination_time %>
</p>

<p>
  <strong>Grade type:</strong>
  <%= @independent_class_datum.grade_type %>
</p>

<p>
  <strong>Restrictions:</strong>
  <%= @independent_class_datum.restrictions %>
</p>

<p>
  <strong>Impacted class:</strong>
  <%= @independent_class_datum.impacted_class %>
</p>

<p>
  <strong>Level:</strong>
  <%= @independent_class_datum.level %>
</p>

<p>
  <strong>Text book url:</strong>
  <%= @independent_class_datum.text_book_url %>
</p>

<p>
  <strong>Url:</strong>
  <%= @independent_class_datum.url %>
</p>

<%= link_to 'Edit', edit_independent_class_datum_path(@independent_class_datum) %> |
<%= link_to 'Back', independent_class_data_path %>
