<p id="notice"><%= notice %></p>

<h1>Dependent Class Data</h1>

<table>
  <thead>
    <tr>
      <th>Class</th>
      <th>Lecture</th>
      <th>Class type</th>
      <th>Section</th>
      <th>Course</th>
      <th>Title</th>
      <th>Major</th>
      <th>Major code</th>
      <th>Term</th>
      <th>Days</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Location</th>
      <th>Instructor</th>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dependent_class_data.each do |dependent_class_data| %>
      <tr>
        <td><%= dependent_class_data.class_id %></td>
        <td><%= dependent_class_data.lecture_id %></td>
        <td><%= dependent_class_data.class_type %></td>
        <td><%= dependent_class_data.section %></td>
        <td><%= dependent_class_data.course_id %></td>
        <td><%= dependent_class_data.title %></td>
        <td><%= dependent_class_data.major %></td>
        <td><%= dependent_class_data.major_code %></td>
        <td><%= dependent_class_data.term %></td>
        <td><%= dependent_class_data.days %></td>
        <td><%= dependent_class_data.start_time %></td>
        <td><%= dependent_class_data.end_time %></td>
        <td><%= dependent_class_data.location %></td>
        <td><%= dependent_class_data.instructor %></td>
        <td><%= dependent_class_data.url %></td>
        <td><%= link_to 'Show', dependent_class_data %></td>
        <td><%= link_to 'Edit', edit_dependent_class_data_path(dependent_class_data) %></td>
        <td><%= link_to 'Destroy', dependent_class_data, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dependent Class Datum', new_dependent_class_data_path %>
