<p id="notice"><%= notice %></p>

<p>
  <strong>Class:</strong>
  <%= @dependent_class_datum.class_id %>
</p>

<p>
  <strong>Lecture:</strong>
  <%= @dependent_class_datum.lecture_id %>
</p>

<p>
  <strong>Class type:</strong>
  <%= @dependent_class_datum.class_type %>
</p>

<p>
  <strong>Section:</strong>
  <%= @dependent_class_datum.section %>
</p>

<p>
  <strong>Course:</strong>
  <%= @dependent_class_datum.course_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @dependent_class_datum.title %>
</p>

<p>
  <strong>Major:</strong>
  <%= @dependent_class_datum.major %>
</p>

<p>
  <strong>Major code:</strong>
  <%= @dependent_class_datum.major_code %>
</p>

<p>
  <strong>Term:</strong>
  <%= @dependent_class_datum.term %>
</p>

<p>
  <strong>Days:</strong>
  <%= @dependent_class_datum.days %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @dependent_class_datum.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @dependent_class_datum.end_time %>
</p>

<p>
  <strong>Location:</strong>
  <%= @dependent_class_datum.location %>
</p>

<p>
  <strong>Instructor:</strong>
  <%= @dependent_class_datum.instructor %>
</p>

<p>
  <strong>Url:</strong>
  <%= @dependent_class_datum.url %>
</p>

<%= link_to 'Edit', edit_dependent_class_datum_path(@dependent_class_datum) %> |
<%= link_to 'Back', dependent_class_data_path %>
