<p id="notice"><%= notice %></p>

<p>
  <strong>Class:</strong>
  <%= @dependent_class_data.class_id %>
</p>

<p>
  <strong>Lecture:</strong>
  <%= @dependent_class_data.lecture_id %>
</p>

<p>
  <strong>Class type:</strong>
  <%= @dependent_class_data.class_type %>
</p>

<p>
  <strong>Section:</strong>
  <%= @dependent_class_data.section %>
</p>

<p>
  <strong>Course:</strong>
  <%= @dependent_class_data.course_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @dependent_class_data.title %>
</p>

<p>
  <strong>Major:</strong>
  <%= @dependent_class_data.major %>
</p>

<p>
  <strong>Major code:</strong>
  <%= @dependent_class_data.major_code %>
</p>

<p>
  <strong>Term:</strong>
  <%= @dependent_class_data.term %>
</p>

<p>
  <strong>Days:</strong>
  <%= @dependent_class_data.days %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @dependent_class_data.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @dependent_class_data.end_time %>
</p>

<p>
  <strong>Location:</strong>
  <%= @dependent_class_data.location %>
</p>

<p>
  <strong>Instructor:</strong>
  <%= @dependent_class_data.instructor %>
</p>

<p>
  <strong>Url:</strong>
  <%= @dependent_class_data.url %>
</p>

<%= link_to 'Edit', edit_dependent_class_data_path(@dependent_class_data) %> |
<%= link_to 'Back', dependent_class_data_path %>
